<launch>

  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/map"/>
    <param name="local_xy_origin" value="swri"/>
    <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 43.6532,
         longitude: -79.3832,
         altitude: 0,
         heading: 0.0}]
    </rosparam>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /map /origin 100"  />

<node pkg="tf" type="static_transform_publisher" name="body_to_map" 
    args="0.0 0.0 0.0 0 0 0.0 /map /body 40" />


<node pkg="tf" type="static_transform_publisher" name="ins_base_link_to_map" 
    args="0.0 0.0 0.0 0 0 0.0 /map /ins 100" />

</launch>
